<h2>Job Scraper</h2>
<a id="scrape-btn" class="waves-effect waves-light btn">Scrape Now</a>

<ul class="collection">
  {{#each posts}}
    <li class="collection-item avatar">
      <span class="title">{{this.title}}</span>
      <p><i class="material-icons">business</i> {{this.company}} <br>
          {{this.description}}
      </p>
      <a class="save secondary-content" data-id="{{this._id}}"><i class="material-icons">grade</i></a>
    </li>
  {{/each}}
</ul>

<script src="assets/js/index.js"></script>