.title {
    font-weight: bold;
}
.material-icons{
    display: inline-flex;
    vertical-align: top;
}
a {
    color: black;
    text-decoration: none;
}
.collection-item:hover {
    background-color: rgb(128, 128, 128, 0.3);
}